body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  color: #343a40;
  position: relative;
  width: 100%;
  bottom: 0;
  flex-shrink: 0;
}

footer h5 {
  font-weight: bold;
  color: #343a40;
}

footer .list-unstyled a {
  color: #343a40;
  text-decoration: none;
}

footer .list-unstyled a:hover {
  text-decoration: underline;
}

footer .input-group {
  max-width: 400px;
}

footer .social-icons a {
  color: #343a40;
  font-size: 1.5rem;
  margin-right: 10px;
}

footer .social-icons a:hover {
  color: #007bff;
}

.subscription-message {
  color: green;
  font-size: 0.9rem;
}

footer hr {
  margin: 20px 0;
}

footer .border-top {
  border-top: 1px solid #e9ecef;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar .container-fluid {
  display: flex;
  justify-content: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
}

.cart-table th, .cart-table td {
  vertical-align: middle;
  text-align: center;
}

.cart-table img {
  max-width: 100px;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
}

.product-info {
  text-align: left;
  margin-left: 10px;
}

.product-image {
  border-right: 1px solid #dee2e6;
  padding-right: 10px;
}

.checkout-container {
  width: 250px;
  margin-top: 20px;
  background-color: #f3f3f3;
}

img {
  width: 250px;
}

.checkout-container .total-summary {
  border: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 5px;
}

.checkout-container .total-summary .summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout-container .summary-item:last-child {
  font-weight: bold;
}

.checkout-container .checkout-btn {
  width: 100%;
  background-color: #3dd42f;
  color: #fff;
}

.checkout-container .checkout-btn:hover {
  background-color: #20963a;
  color: #fff;
}

.cart-section {
  display: flex;
  justify-content: space-between;
}

.cart-section .cart-table-container {
  flex: 3;
  margin-right: 20px;
}

.cart-section .checkout-container {
  flex: 1;
}

