<footer class="mt-auto">
  <div class="container">
    <div class="row py-4">
      <div class="col-md-4">
        <h5>Subscribe to our newsletter!</h5>
        <form action="#">
          <div class="input-group">
            <input type="email" class="form-control" placeholder="Enter your email..." required>
            <button class="btn btn-dark" type="submit">Send</button>
          </div>
        </form>
        <div class="mt-3">
          <p class="subscription-message">Thank you for your message. It has been sent.</p>
        </div>
        <div class="social-icons mt-3">
          <h6>Follow Us:</h6>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>About Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Our Shops</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Artists</a></li>
          <li><a href="#">Local Giving</a></li>
          <li><a href="#">Press</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Customer Services</h5>
        <ul class="list-unstyled">
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Store Locator</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Shipping Information</a></li>
          <li><a href="#">Wholesale</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-top border-secondary">
    <div class="row">
      <div class="col text-center">
        <span class="text-dark">&copy; 2024 MyShop. All rights reserved.</span>
      </div>
    </div>
  </div>
</footer>
